@import "mixins/center";

@mixin navbar($bg__color, $width : 100%, $sticky : true, $bottom : false) {
    
    background: $bg__color;
    width: $width;
    
    @if ($sticky) {
        position: fixed;
        @if ($bottom) {
            bottom: 0;
        }
        @if $width < 100 {
            @include center__fix;
        }
    }
    
    @else if ($sticky == false and $bottom == true) {
        position: absolute;
        bottom: 0;

        @if $width < 100 {
            @include center__fix;
        }
    }
    
    @else if ($sticky == false and $bottom == false) {
        @if $width < 100 {
            @include center__standard;
            }
    }
}