@import "mixins/blockade";
@import "mixins/media_queries";

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

ol,
ul {
	margin: 0;
}

html {
	overflow-x: hidden;
	min-height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	
	//Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS:
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

//body {
//	width: 100%; // i dont remember why
//}

main {
	overflow-x: hidden; //One :before :after section separator made site overflow-x
	display: block; //For IE
}

a {
	text-decoration: none;
	color: inherit;

	&:focus,
	&:active,
	&:hover {
		color: inherit;
	}
}

button {
	border: none;
	background: none;
	@include text__selection--none; //For which browser
}

input,
textarea,
select,
button,
a{
	margin: 0;
	padding: 0;
	font: inherit;
}


